body {
    background-color: rgb(3, 1, 37);
    margin: 1rem 9rem;
    font-family: sans-serif;
    color: white;
}

.header .navbar .container-fluid .menu{
    color: white;
    list-style: none;
}

.header {
    background-color: rgb(3, 1, 37);
}

.header .logo {
    max-width: 400px;
    height: auto;
    width: auto;
}

nav {
    background-color: rgb(3, 1, 37);
}